.btn-round{
  display: flex;
  padding: 18px 36px;      
  background: #d9d9d9;
  color: #333;
  border: none;   
  cursor: pointer;
  transition: border-radius 100ms ease, transform 100ms ease;
  font-size: 18px;
  margin-left: 25px;
}
.btn-round:hover{
            border-radius: 20px;     
}

.lonm {
    margin-top: 30px;
    margin-left: 25px;
    padding: 12px 18px;
    background: #ddd;
    border: 1px solid #cfcfcf;
    font-size: 14px;
    cursor: pointer;
    transition: 0.7s;
}

.lonm:hover {
    transform: translateX(15px);
}
.hitt {
    margin-top: 30px;
    margin-left: 25px;
    padding: 12px 18px;
    background: #ddd;
    border: 1px solid #cfcfcf;
    font-size: 14px;
    cursor: pointer;
    transition: 0.7s;
}

.hitt:hover {
    transform: translateX(-15px);
}